.toolbar {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #abb9c3;
}

.toolbar-button {
    -fx-font-size: .9em;
    -fx-text-fill: #e5e5e5;
    -fx-background-color: transparent;
}

.toolbar-button:hover {
    -fx-background-color: #09C;
}

.dialog-price-label {
    -fx-font-size: 2em;
    -fx-text-fill: #e5e5e5;
}

.table-view .column-header {
    -fx-background-color: #657f92;
/*    -fx-border-width: 0 0 0 0;*/
/*    -fx-border-color: #657f92;*/
    -fx-border-color: white;
}

.table-view {
    /*-fx-border-width: 0 2 0 0;*/
    -fx-border-color: #abb9c3;
    -fx-table-cell-border-color: #abb9c3;
}

.table-row-cell:filled {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #abb9c3;
}

/*Remove empty rows start*/
.table-row-cell:empty {
    -fx-background-color: #748b9c;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0;
}
/*Remove empty rows end*/

.combo-box .list-cell, .spinner {
    -fx-background-color: #657F92;
    -fx-text-fill: #e5e5e5;
}

.combo-box-base {
    -fx-background-color: #657F92;
    -fx-border-width: 1;
    -fx-border-color: #abb9c3;
}

.combo-box-base.error {
    -fx-background-color: #c33645;
    -fx-border-width: 1;
    -fx-border-color: #abb9c3;
}

.combo-box .arrow, .combo-box .arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #abb9c3;
}

.main-pane, .table-view {
    -fx-background-color: #748b9c;
}

.label, .table-view .column-header .label {
    -fx-text-fill: #e5e5e5;
}

.table-view .filler, .custom-spinner {
    -fx-background-color: #657F92;
}

.dialog-pane .button { /*Hack. See com.gzemlyakov.ig.trader.gui.view.dialog.order.NewOrderDialogImpl*/
    -fx-background-color: transparent;
}

.dialog-pane .sell-button, .dialog-pane .buy-button {
    -fx-text-fill: #e5e5e5;
    -fx-font-size: 1.4em;
}

.dialog-pane .sell-button {
    -fx-background-color: #bd2031;
}

.dialog-pane .buy-button {
    -fx-background-color: #3a9dc6;
}

.dialog-pane .sell-button:hover {
    -fx-background-color: #c33645;
}

.dialog-pane .buy-button:hover, .login-dialog-pane .button:hover {
    -fx-background-color: #4da6cb;
}

.dialog-pane:header *.header-panel {
    -fx-font-size: 1.6em;
    -fx-background-color: #748b9c;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #abb9c3;
}

.login-dialog-pane .text-field, .login-dialog-pane .password-field {
    -fx-font-size: 1.6em;
    -fx-min-height: 45;
    -fx-background-color: #ff7f7f;
}/*TODO Change context menu color*/

.login-dialog-pane .hyperlink, .login-dialog-pane .check-box {
    -fx-text-fill: #e5e5e5;
    -fx-background-color: #748b9c;
}

.login-dialog-pane .hyperlink:pressed, .login-dialog-pane .hyperlink:visited  {
    -fx-border-color: #e5e5e5;
}

.login-dialog-pane .button {
    -fx-font-size: 1.6em;
    -fx-text-fill: #e5e5e5;
    -fx-background-color: #3a9dc6;
}

.input-wrapper {
    -fx-alignment: center-left;
    -fx-min-height: 50;
}

.input-wrapper, .input-wrapper .text-field {
    -fx-background-color: #ffffff;
}

.input-wrapper {
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
}

.input-wrapper-incorrect {
    -fx-border-color: #c33645;
}

.error-message-holder {
    -fx-text-fill: #c33645;
}

/*Do not place after .cell-green and .cell-red*/
.cell:filled {
    -fx-background-color: #748b9c;
    -fx-text-fill: #e5e5e5;
}

/*Watch table cell styles*/
.cell-green.cell:filled {
    -fx-text-fill: #19e119;
}

.cell-red.cell:filled {
    -fx-text-fill: #c33645;
}

/*Spinner style*/
.spinner .text-field {
    -fx-background-color: #657f92;
    -fx-text-fill: #e5e5e5;
    -fx-border-width: 1;
    -fx-border-color: #abb9c3;
}

.spinner.error .text-field {
    -fx-border-color: #c33645;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: #657f92;
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #abb9c3;
}

.spinner.error .increment-arrow-button, .spinner.error .decrement-arrow-button {
    -fx-border-color: #c33645;
}

/*.spinner .increment-arrow, .spinner .decrement-arrow {
    -fx-background-color: #abb9c3;
}*/

/*'New order' dialog titled pane style*/
.title {
    -fx-background-color: #657f92;
}

.titled-pane {
    -fx-text-fill: #e5e5e5;
}

.content {
    -fx-background-color: #748b9c;
    -fx-border-color: #657f92;
}

.radio-button {
    -fx-text-fill: #e5e5e5;
}

.CalendarTextField.error {
    -fx-border-width: 1;
    -fx-border-color: #c33645;
}

.check-box {
    -fx-text-fill: #e5e5e5;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.menu-item:focused .label {
    -fx-text-fill: #ffffff;
}

